/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 9.5pt;
		min-width: 1000px;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#main-wrapper
	{
		margin: 4% 0 5% 0;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#page-header
	{
	}
	
		#page-header nav
		{
		}

			#page-header nav li
			{
				margin-left: 0.75em;
			}
